google-search-results

tiktoken==0.7.0

faiss-cpu==1.13.2

flask
langchain==0.2.14
langchain-core==0.2.32
langsmith==0.1.147
langchain-community==0.2.12
langgraph==0.2.14

faiss-cpu==1.13.2
sentence-transformers==2.7.0

requests==2.32.3
beautifulsoup4==4.12.3

python-dotenv==1.0.1
tavily-python==0.3.3